.login:focus {
  background:transparent;
  display:inline-block;
  border-bottom:1px solid #ffffff;
  border-radius:0px;
  box-shadow:none;
  color:white;
}

.login {
  width:100%;
  background:transparent;
  border:none;
  border-bottom:1px solid #ffffff;
  border-radius:0px;
  color:white;
}

p.title {
  color:rgb(255,255,255);
  font-size:20px;
  font-family:Quicksand, sans-serif;
}

.login::placeholder {
  color:rgb(186,184,184);
}

.form-inline .form-group {
}

.btn {
  background-color:transparent;
  border-color:white;
  border-radius:0;
  margin-left:10%;
  width:80%;
}

.btn-login {
  background-color:transparent;
  border-color:white;
  border-radius:0;
  box-shadow:none;
}

.btn:hover {
  border-color:grey;
  background-color:transparent;
  color:white;
  box-shadow:none;
}

.btn:not(:disabled):not(.disabled) {
}

#bg {
  /*display:none;*/
}

#photo {
  position:absolute;
  width:60%;
  height:108px;
  top:136px;
  margin-left:20%;
}

.section-people {
  padding-top:50px;
  margin-top:-5px;
  padding-bottom:60px;
}

.card-person {
  margin-bottom:10px;
}

.image {
  padding-right:0;
  padding-left:0;
  width:40px;
  height:40px;
}

.info {
  padding-right:0;
  padding-left:0;
}

.links {
  padding-left:0px;
  padding-right:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:10px;
}

.row.links:first {
  margin-top:51px;
}

